.App {
  text-align: center;
}

.buttonContainer>button>div {
  height: 100%;
}


.buttonContainer>button>div>div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}